#user-menu {
    width: 292px;
    height: 100%;
    background-color: white;
}

#timeline {
    width: 724px;
    height: 100%;
    background-color: white;
}

#home-links {
    width: 100%;
    height: 40vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home-links div {
    width: 100%;
    text-align: center;
}

#timeline-header {
    width: 100%;
    padding: 16px;
}
#posts {
    width: 100%;
    padding: 0 16px;
    overflow-y: auto;
}