#user-menu {
    height: 100%;
}

#timeline {
    width: 900px;
    height: 100%;
    background-color: white;
}

#home-links div {
    width: 100%;
    text-align: center;
}

#timeline-header {
    width: 100%;
    padding: 16px;
}
#posts {
    width: 100%;
    padding: 0 16px;
    overflow-y: auto;
}

#user-menu img {
    height: 140px;
    border-radius: 70px;
    margin-right: 8px;
    border: 4px solid white;
}