#messages-menu {
    background: white;
    margin-right: 8px;
    width: 292px;
}

#back-home {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 16px;
}

#back-home a {
    font-size: 24px;
    color: var(--primary);
}

#message-input{
    margin-right: 4px;
}

.conversation-header {
    padding: 8px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: .2s;
}

.convo-container{
    display: flex;
    background-color: aquamarine;
    height: 90%;
    width: 100%;
    padding: 8px;
}

.convo-messages{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.sent-message{
    flex: row;
    text-align: right;
    width: 100%;
}

.rec-message{
    flex: row;
    text-align: left;
    width: 100;
}

.message-list{
    width: 100%;
    margin: 8px;
}

.conversation-header:hover {
    background-color: #a9a9a9;
    cursor: pointer;
}

.selected {
    background-color: #efefef;
}

.convo-name {
    padding-left: 8px;
}

#messages {
    background-color: white;
    width: 724px;
    height: 100%;
    align-items: flex-end;
    display: flex;
}

#message-composer {
    display: flex;
    width: 100%;
    padding: 8px;
}

#message-composer input {
    width: 88%;
}

#message-composer button {
    padding: 8px;
}

.talkbubble {
    position: relative;
    width: 300px;
    height: 125px;
    
    padding: 10px;
    border-radius: 5px;
    border: solid lightblue;
    background: lightblue;
  }
  
  .talkbubble:before {
    content:"";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    
    border-top: 13px solid transparent;
    border-right: 26px solid lightblue;
    border-bottom: 13px solid transparent;
  }
  
  .talkbubble textarea {
    position: inherit;
    width: inherit;
    height: inherit;
    background: inherit;
    
    margin: 0;
    padding: 0;
    
    border: none;
    resize: none;
  }