#messages-menu {
    background: white;
    margin-right: 8px;
    width: 292px;
}

#back-home {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 16px;
}

#back-home a {
    font-size: 24px;
    color: var(--primary);
}

.conversation-header {
    padding: 8px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.selected {
    background-color: #efefef;
}

.convo-name {
    padding-left: 8px;
}

#messages {
    background-color: white;
    width: 724px;
    height: 100%;
    align-items: flex-end;
    display: flex;
}

#message-composer {
    display: flex;
    width: 100%;
    padding: 8px;
}

#message-composer input {
    width: 88%;
}

#message-composer button {
    padding: 8px;
}