#account-info {
    width: 900px;
    height: 100%;
    background-color: white;
    justify-content: flex-start;
    align-items: flex-start;
}

#home-links div {
    width: 100%;
    text-align: center;
}

#account-info-header {
    width: 100%;
    padding: 16px;
}

#account-info-listing{
    justify-content: left;
    flex-direction: column;
    widows: 100%;
}
.info-divs {
    width: 600px;
    padding: 16px;
}
.notifications{
    width: 200px;
    flex-direction: column;
}
ul {
    list-style-type: none;
}
.notif-pets{
    flex-direction: column;
    background-color: lightblue;
    width: 100%;
}
.email-phone{
    flex-direction: column;
    background-color: antiquewhite;
    width: 100%
}